{% extends "issues/base_form_page.html" %}

{% block subtitle %}{{ _('New Issue') }} - {{super()}}{% endblock %}

{% block page_heading %}{{ _('New Issue') }} {% endblock %}

{% import 'macros/form.html' as form %}
{% set data = c.data_dict %}
{% set errors = c.errors %}

{% block ourform %}
<form id="issue-new" class="dataset-form form-horizontal" method="post" data-module="basic-form">
  {% block error_summary %}
    {% if c.error_summary | count %}
      <div class="alert alert-error error-explanation">
        <p>{{ _('The form contains invalid entries:') }}</p>
        <ul>
          {% for key, error in c.error_summary.items() %}
            <li>{{ _(key) }}: {{ _(error[0]) }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  {% endblock %}

  {% block fields %}
    {{ form.input('title', label=_('Title'), id='field-title', placeholder=_('Title'), value=data.title, error=errors.title, classes=['control-full']) }}
    {{ form.markdown('description', label=_('Description'), id='field-description', placeholder=_('Add a comment'), value=data.description, error=errors.description) }}
    {#{{ form.input('resource', label=_('Resource'), id='resource', attrs={'disabled':'1'}) }} ]#}
  {% endblock %}

  <div class="form-actions">
    {{ h.nav_link(_('Cancel'), controller='related', action='list', id=c.id,
    class_='btn') }}
    <button class="btn btn-primary" type="submit" name="save" tabindex="4">{{ _('Create') }}</button>
  </div>
</form>

{% endblock %}
