{% extends "issues/base.html" %}

{% block primary_content %}
  <section class="module">
    <div class="module-content">
      <h1 class="page-heading">{% block page_heading %}{% endblock %}</h1>
      {% block ourform %}{% endblock %}
    </div>
  </section>
{% endblock %}

{% block secondary_content %}
  <section class="module module-narrow">
    <h2 class="module-heading"><i class="icon-info-sign"></i> {{ _('What are issues?') }}</h2>
    <div class="module-content">
     <p>{% trans %}Issues can be used to report inconsistencies in both metadata and content.{% endtrans %}</p>
     <p><b>{% trans %}Please specify a title and description, providing as much level of detail as possible.{% endtrans %}</b></p>
     <p>{% trans %}You are responsible of coordinating that this issue gets fixed and closed, feel free to use the discussion box within the issue to coordinate with other reviewers and the dataset's creator.{% endtrans %}</p>
    </div>
  </section>
{% endblock %}
