{% extends "issues/base.html" %}

{% block primary_content %}
  <section class="module">
    <div class="module-content">
      <h1 class="page-heading">{% block page_heading %}{% endblock %}</h1>
      {% block ourform %}{% endblock %}
    </div>
  </section>
{% endblock %}

{% block secondary_content %}
  <section class="module module-narrow">
    <h2 class="module-heading"><i class="icon-info-sign"></i> {{ _('What are issues?') }}</h2>
    <div class="module-content">
     <p>{% trans %}Thank you for uploading the library item. You should have received a confirmation email from OD Mekong Datahub. This library item is still unpublished. Your item can only be published after you review this form and after our administrators approve your entry.{% endtrans %}</p>
     <p><b>{% trans %}It is important that you have entered the correct information in your library record form. We also ask that all contributors complete as many fields as possible.{% endtrans %}</b></p>
     <p>{% trans %}Please take this opportunity to review your library record. If you would like to make any changes please select your library record and then click on the Manage button on the top right corner.{% endtrans %}</p>
     <ol>
      <li>{% trans %}Please CHECK YOUR SPELLING against the original item to ensure the item is recorded correctly.{% endtrans %}</li>
      <li>{% trans %}Please review your library record form again for the mandatory fields:{% endtrans %}</li>
      <ul>
       <li>{% trans %}Title (Please use Associated Press style title where the first letter is capitalized and the rest of the title is not, i.e. “Study of Cambodian forests and lakes from 1992 to 1994”){% endtrans %}</li>
       <li>{% trans %}Language{% endtrans %}</li>
       <li>{% trans %}Edition / Version {% endtrans %}</li>
       <li>{% trans %}Geographical area{% endtrans %}</li>
       <li>{% trans %}Date uploaded {% endtrans %}</li>
      </ul>
      <li>{% trans %}Please review again the following information, vital  to other users who may search for your record:{% endtrans %}</li>
      <ul>
       <li>{% trans %}Summary (Make sure this is a concise description of the record in your own words, please do not just ‘copy’ and ‘paste’ an abstract by the original author){% endtrans %}</li>
       <li>{% trans %}Topics{% endtrans %}</li>
       <li>{% trans %}License (Make sure you indicated the correct license. Additional information on  creative      commons is found here http://opendefinition.org/licenses/. If there is no license, please indicate ‘license unspecified’){% endtrans %}</li>
       <li>{% trans %}Copyright{% endtrans %}</li>
       <li>{% trans %}Access and Use Constraints{% endtrans %}</li>
       <li>{% trans %}Author{% endtrans %}</li>
       <li>{% trans %}Co-author{% endtrans %}</li>
       <li>{% trans %}Corporate Author{% endtrans %}</li>
       <li>{% trans %}Publisher {% endtrans %}</li>
      </ul>
      <li>{% trans %}Lastly, please check again for the following information on the library record you entered. If the information is available, please include it in the appropriate field. This will greatly improve the searchability of your library record item or provide information that a user will find useful:{% endtrans %}</li>
      <ul>
       <li>{% trans %}ISSN or ISBN numbers{% endtrans %}</li>
       <li>{% trans %}Publication Place{% endtrans %}</li>
       <li>{% trans %}Publication Date{% endtrans %}</li>
       <li>{% trans %}Pagination{% endtrans %}</li>
      </ul>
     </ol>
     <p>{% trans %}Our administrators need to review the library record as well. They will close fixed issues or open new issues if there are any other inconsistencies. Once all issues have been closed, the item will be published.{% endtrans %}</p>
     <p>Thank you for sharing,<p>
     <p>Open Development Team </p>
    </div>
  </section>
{% endblock %}
