{% macro issue_item(issue, pkg) -%}
      <li class="list-group-item">
        <span class="list-group-item-number">#{{issue.id}}</span>
        <div class="issue-comment-label">
          {% if issue.spam_state == 'hidden' %}Marked as spam{%endif%}
        </div>
        <h4 class="list-group-item-name">
          {% set issue_icon = 'spam' if issue.spam_state == 'hidden' else issue.status %}
          <span class="{{ issue_icon }} icon" title="{{issue.status}} issue"><i class="icon-exclamation-sign"></i></span>
          <a href="{{ h.url_for('issues_show', package_id=pkg.id, id=issue.id) }}" {% if issue.spam_state == 'hidden'%} class="issue-spam"{% endif%}>
            {{issue.title}}
          </a>
        </h4>
        <ul class="list-group-item-meta">
          <li>Opened by <a href="{{ h.url_for('user_datasets', id=issue.user) }}">{{issue.user}}</a></li>
          <li>
            <i class="icon-clock"></i>
            <span class="timeago" title="{{issue.created}}"> updated {{ h.time_ago_from_timestamp(issue.created) }}</span>
          </li>
          <li>
            <i class="icon-comments"></i>
            <a href="{{issue.ckan_url}}">
              {{ _('%s comments') % (issue.comment_count) }}
            </a>
          </li>
        </ul>
      </li>
{%- endmacro %}
