{% extends "issues/base.html" %}

{% import "issues/common.html" as common with context %}

{% set pkg = c.pkg %}
{% set filters = h.get_issue_filter_types() %}
{% set issues_per_page = h.get_issues_per_page() %}

{% block subtitle %}{{ _('Issues') }} - {{ super() }}{% endblock %}

{% block primary_content %}
<section class="module issues-home">
  <div class="module-content">
    <div class="header">
      <h1 class="page-heading">
        {{ _('Issues') }}
        <div class="issues-actions">
          {{ h.nav_link(_('New Issue'), named_route='issues_new', package_id=pkg.name, class_='btn btn-success') }}
        </div>
      </h1>
    </div>
    <div>
      {% snippet 'snippets/search_form.html', query=q, fields=(('page', pagination.page), ('per_page', pagination.per_page), ('status', status), ('spam_state', spam_state)), sorting=filters, sorting_selected=sort, placeholder=_('Search issues...'), no_bottom_border=true, no_title=true %}
      <h2>
        {{ ungettext('{number} issue found', '{number} issues found', pagination.total_count) .format(number=pagination.total_count) }}
      </h2>
    </div>
  {% if issues %}
    <ul id="issue-list" class="issue-list-group list-group">
      {% for issue in issues %}
        {{ common.issue_item(issue, pkg) }}
      {% endfor %}
    </ul>
  {% else %}
    <p class="empty">{{ _('No issues') }}</p>
  {% endif %}
  </div>
  <div class="pagination pagination-small span6" id="page">
    <ul>
    {% if pagination.has_previous %}
      <li>
        {% set href = h.replace_url_param(new_params={'page': pagination.page - 1}, extras={'package_id':pkg['id']}) %}
        <a href={{ href }}>«</a>
      </li>
    {% endif %}
    {% if pagination.show_previous %}
      <li>
        {% set href = h.replace_url_param(new_params={'page': 1}, extras={'package_id':pkg['id']}) %}
        <a href={{ href }}>1</a>
      </li>
      <li class="disabled">
        <a href="#">...</a>
      </li>
    {% endif %}
    {% for page in pagination.iter_pages() %}
      {% if page %}
        {% set href = h.replace_url_param(new_params={'page': page}, extras={'package_id':pkg['id']}) %}
        {% if page != pagination.page %}
          <li>
            <a href={{ href }}>{{ page }}</a>
          </li>
        {% else %}
          <li class="disabled">
            <a href="#">{{ page }}</a>
          </li>
        {% endif %}
      {% endif %}
    {% endfor %}
    {% if pagination.show_next %}
      <li class="disabled">
        <a href="#">...</a>
      </li>
      <li>
        {% set href = h.replace_url_param(new_params={'page': pagination.pages }, extras={'package_id':pkg['id']}) %}
        <a href={{ href }}>{{ pagination.pages }}</a>
      </li>
    {% endif %}
    {% if pagination.has_next %}
      <li>
      {% set href = h.replace_url_param(new_params={'page': pagination.page + 1}, extras={'package_id':pkg['id']}) %}
        <a href={{ href }}>»</a>
      </li>
    {% endif %}
    </ul>
  </div>
  <div class="pagination pagination-small span3" id="per_page">
    <ul>
      {% for per_page_option in issues_per_page %}
        <li{% if per_page_option==pagination.per_page %} class="active"{% endif %}>
        {% set href = h.replace_url_param(new_params={'per_page': per_page_option, 'page': 1}, extras={'package_id':pkg['id']}) %}
        <a href={{ href }}>{{ per_page_option }}</a>
        </li>
      {% endfor %}
        <li class="disabled">
        <a href="#">per page</a>
        </li>
    </ul>
  </div>
</section>
{% endblock %}

{% block secondary_content %}
<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="icon-medium icon-filter"></i>
    Status
  </h2>
  <ul class="unstyled nav nav-simple">
    {% for valid_status in ['open', 'closed'] %}
    <li class="nav-item {% if status==valid_status%}active{% endif %}">
    {% set href = h.replace_url_param(new_params={'status': valid_status}, extras={'package_id':pkg['id']}) %}
    <a href={{ href }}>
      <span>{{_(valid_status.title())}}</span>
    </a>
    </li>
    {% endfor %}
  </ul>
  {% if h.check_access('package_update', {'id': pkg.id }) %}
  <h2 class="module-heading">
    <i class="icon-medium icon-filter"></i>
    Spam State
  </h2>
  <ul class="unstyled nav nav-simple nav-facet">
    {% for valid_spam_state in ['visible', 'hidden'] %}
    <li class="nav-item {% if spam_state==valid_spam_state%}active{% endif %}">
    {% set href = h.remove_url_param('spam_state', extras={'package_id':pkg['id']}) if spam_state==valid_spam_state else h.replace_url_param(new_params={'spam_state': valid_spam_state}, extras={'package_id':pkg['id']}) %}
    <a href={{ href }}>
      <span>{{_(valid_spam_state.title())}}</span>
    </a>
    </li>
    {% endfor %}
  </ul>
  {% endif %}

</div>
{% endblock %}

