{% extends "issues/base.html" %}

{% set pkg = c.pkg %}

{% block subtitle %}{{ _('Issues') }} - {{ super() }}{% endblock %}

{% block primary_content %}
<section class="module issues-home">
  <div class="module-content">
    <div class="header">
      <h1 class="page-heading">
        {{ _('Issues') }}
        <div class="issues-actions">
          {{ h.nav_link(_('New Issue'), named_route='issues_new', package_id=pkg.name, class_='btn btn-success') }}
        </div>
      </h1>
    </div>
  {% if issues %}
    <ul class="issue-list-group list-group">
    {% for issue in issues %}
      <li class="list-group-item">
        <span class="list-group-item-number">#{{issue.id}}</span>
        <h4 class="list-group-item-name">
          <span class="{{issue.status}} icon" title="{{issue.status}} issue"><i class="icon-exclamation-sign"></i></span>
          <a href="{{issue.ckan_url}}">{{issue.title}}</a>
        </h4>
        <ul class="list-group-item-meta">
          <li>Opened by <a href="{{issue.user.ckan_url}}">{{issue.user.name}}</a></li>
          <li>
            <i class="icon-clock"></i>
            <span class="timeago" title="{{issue.created}}"> updated {{issue.created_time_ago}} ago</span>
          </li>
          <li>
            <i class="icon-comments"></i>
            <a href="{{issue.ckan_url}}">
              {{ _('%s comments') % (issue.comments | length) }}
            </a>
          </li>
        </ul>
      </li>
    {% endfor %}
    </ul>
  {% else %}
    <p class="empty">{{ _('No issues') }}</p>
  {% endif %}
  </div>
</section>
{% endblock %}

{% block secondary_content %}
<div class="issue-home-sidebar">
  <div class="btn-group">
    {% for valid_status in ['open', 'closed'] %}
    <a class="btn {% if status==valid_status%}active{% endif %}" href="?status={{valid_status}}">{{_(valid_status.title())}}</a>
    {% endfor %}
  </div>
</div>
{% endblock %}

