<html xmlns:py="http://genshi.edgewall.org/"
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">

  <py:def function="page_title">Issue List</py:def>
  <link rel="stylesheet"  type="text/css" media="screen, print"
        href="/ckanext-issues/css/main.css"
        py:def="optional_head()" />

  <xi:include href="sidebar.html"/>

  <div py:match="content" class="package">
    <h2 class="head">Issue List <small>${c.pkg.title}</small></h2>

    <div id="issue-page" py:choose="">
      <span py:when="not c.issues">
            There are currently no issues for '<a href="${h.url_for(controller='package', action='read', id=c.pkg.name)}">${c.pkg.title}</a>'
      </span>
      <div py:when="c.issues">
          <table class="table">
            <thead>
              <tr>
                <th>Category</th>
                <th>Description</th>
                <th>Reporter</th>
                <th>Reported</th>
                <th>Resolved</th>
              </tr>
            </thead>
            <tbody>
            <py:for each="issue in c.issues">
              <tr class="${'success' if issue.resolved else 'error'}">
                <td>${issue.category.name}</td>
                <td>${issue.description}
                  <py:if test="issue.resource">
                  <br/><br/>
                    Resource: ${issue.resource.description}
                  </py:if>
                </td>
                <td>${issue.reporter.name}</td>
                <td>${h.render_datetime(issue.created)}</td>
                <td><py:if test="issue.resolved">Tick and show info in mouseover - Resolved by ${issue.resolver} on ${issue.resolved}</py:if></td>
              </tr>
            </py:for>
          </tbody>
          </table>
      </div>
    </div>
  </div> <!-- content -->

  <xi:include href="../package/layout.html" />
</html>
