<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip=""
  >

<a py:def="add_issue_button(package,extra_style)" style='${extra_style}' href="${h.url_for('issue_page',package_id=package.name)}" class="btn btn-danger">Report an issue</a>

<a py:def="add_resource_issue_button(package,resource,extra_style)" style='${extra_style}' href="${h.url_for('issue_page',package_id=package.name)}?resource=${resource.id}" class="btn btn-danger">Report an issue</a>

<div py:def="show_issue_comments(issue)" style='background-color:#eee'>
  <table class="table">
    <tr>
        <th>Author</th>
        <th>Comment</th>
        <th>Date</th>
    </tr>
    <py:for each="comment in issue.comments">
    <tr>
        <td>${comment.author.name}</td>
        <td>${comment.comment}</td>
        <td>${h.render_datetime(comment.created)}</td>
    </tr>
    </py:for>
  </table>
</div>

</html>