{% extends "package/read_base.html" %}

{% set pkg = c.pkg %}

{% block subtitle %}{{ _('Issues') }} - {{ super() }}{% endblock %}

{% block content_primary_nav %}
  {{ super() }}
  {{ h.build_nav_icon('issue_page', _('Issues'), package_id=pkg.name) }}
{% endblock %}

{% block primary_content_inner %}
  {% block form_actions %}
    <div class="issues-actions" style="float: right;">
      {{ h.nav_link(_('New Issue'), named_route='add_issue', package_id=pkg.name, class_='btn btn-success') }}
    </div>
  {% endblock %}
  <h2>{% block page_heading %}{{ _('Issues') }}{% endblock %}</h2>
  {% if c.issues.count() %}
    <ul class="issue-list">
    {% for issue in c.issues %}
      <li>
        <h3>{{issue.title}}</h3>
      </li>
    {% endfor %}
    </ul>
  {% else %}
    <p class="empty">{{ _('No issues') }}</p>
  {% endif %}
{% endblock %}
