<html xmlns:py="http://genshi.edgewall.org/"
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">

  <py:def function="page_title">Issue List</py:def>
  <link rel="stylesheet"  type="text/css" media="screen, print"
        href="/ckanext-issues/css/main.css"
        py:def="optional_head()" />

  <py:def function="body_class">no-sidebar</py:def>

  <?python
    controller_for_group = c.publisher.type
    group_read_page = '/%s/%s' % (controller_for_group,c.publisher.name)
  ?>

  <div py:match="content" class="package">
    <h1 class="head">Issue List <small>${c.publisher.title}</small>
    <a href="${group_read_page}" class="pull-right btn btn-primary"> &lt; Return to publisher</a>
    </h1>
    <hr/>

    <div id="issue-page" py:choose="">
      <span py:when="not c.results">
            There are currently no issues for '<a href="${group_read_page}">${c.publisher.title}</a>'
      </span>
      <div py:when="c.results">
        <py:for each="pkg in c.package_set">
          <h2><a href="${h.url_for(controller='package', action='read', id=pkg.name)}">${pkg.title}</a></h2>
          <table class="table">
            <thead>
              <tr>
                <th>Category</th>
                <th>Description</th>
                <th>Reporter</th>
                <th>Reported</th>
                <th>Resolved</th>
              </tr>
            </thead>
            <tbody>
            <py:for each="issue in c.results[pkg]">
              <tr class="${'success' if issue.resolved else 'error'}">
                <td>${issue.category.name}</td>
                <td>${issue.description}
                  <py:if test="issue.resource">
                  <br/><br/>
                    Resource: ${issue.resource.description}
                  </py:if>
                </td>
                <td>${issue.reporter.name}</td>
                <td>${h.render_datetime(issue.created)}</td>
                <td><py:if test="issue.resolved">Tick and show info in mouseover - Resolved by ${issue.resolver} on ${issue.resolved}</py:if></td>
              </tr>
            </py:for>
          </tbody>
          </table>
        </py:for>
      </div>
    </div>
  </div> <!-- content -->

  <xi:include href="../layout.html" />
</html>
