{% extends "issues/base.html" %}

{% block subtitle %}{{ '%s #%s - %s' % (issue.title, issue.id, _('Issues')) }} {% endblock %}

{% block breadcrumb_item %}{{ h.nav_link(issue.id, named_route='issues_show', package_id=dataset.name, id=issue.id) }}
{% endblock %}

{% import 'macros/form.html' as form %}

{%- macro issue_comment(comment) %}
<div class="issue-comment-wrapper">
  <a href="{{comment.user.ckan_url}}"
    class="issue-comment-avatar">
    {{comment.user.gravatar}}
  </a>
  <div class="issue-comment">
    <div class="issue-comment-header">
      <div class="issue-comment-actions">
        {% if h.check_access('issue_update', {'dataset_id': dataset.id, 'id': issue.id }) %}
          <div class="issue-edit-button">
            <a href={{h.url_for('issues_edit', package_id=dataset.name, id=issue.id)}} class=btn>
              <i class="icon-pencil"></i>
            </a>
          </div>
        {% endif %}
      </div>
      <div class="issue-header-text">
        <a href="{{comment.user.ckan_url}}" class="author">{{ comment.user.name}}</a>
        commented
        <span title="{{comment.created}}">{{ comment.time_ago }}</span> ago
      </div>
    </div>
    <div class="issue-comment-content">
      {{ h.render_markdown(comment.comment) }}
    </div>
  </div>
</div>
{% endmacro %}

{% block primary_content %}
  <section class="module issue-show">
    <div class="module-content">
      <div class="issue-header">
        <h1 class="page-heading">
          {{issue.title}}
          <span class="header-number">#{{issue.id}}</small>
        </h1>
        <div class="issue-header-meta">
          <span class="issue-header-status {{issue.status}}">
            <i class="icon-exclamation-sign"></i> {{issue.status.title()}}
          </span>
          <a href="{{issue.user.ckan_url}}">{{issue.user.name}}</a> opened this issue {{issue.time_ago}} ago &middot; {{comment_count}} comments
        </div>
      </div>

      {{ issue_comment(issue) }}

      {% for comment in issue.comments %}
        {{ issue_comment(comment) }}
      {% endfor %}

      <div class="issue-comment-new">
        <div class="issue-comment-wrapper">
          {% if c.user %}
          <a href="{{c.current_user.ckan_url}}"
            class="issue-comment-avatar">
            {{c.current_user.gravatar}}
          </a>
          <form id="issue-comment-form" class="dataset-form" method="post"
            data-module="basic-form"
            action="{{h.url_for('issues_comments', id=issue.id, package_id=dataset.id)}}">
            <div class="control-group control-full">
              <div class="controls editor">
                <textarea id="comment" name="comment" cols="20" rows="5"
                  placeholder="Leave a comment"
                  tabindex="1"></textarea>
                <span class="editor-info-block">
                  You can use <a href="http://daringfireball.net/projects/markdown/syntax" target="_blank">Markdown formatting</a> here</span>
              </div>
            </div>
            {% block form_actions %}
            <div class="form-actions" style="border-top: none;">
              {% if h.check_access('issue_delete', {'id': issue.id, 'dataset_id': dataset.id}) %}
                {% set locale = h.dump_json({'content': _('Are you sure you want to delete this issue?')}) %}
                <a class="btn btn-danger pull-left" href="{% url_for 'issues_delete', dataset_id=dataset.id, issue_id=issue.id %}" data-module="confirm-action" data-module-i18n="{{ locale }}">{% block delete_button_text %}{{ _('Delete') }}{% endblock %}</a>
              {% endif %}
              {% if h.check_access('issue_update', {'id': issue.id, 'dataset_id':dataset.id}) %}
                {% if issue.status == 'open' %}
                <button class="btn" type="submit" name="close" tabindex="3">
                  {{ _('Close') }}
                </button>
                {% else %}
                <button class="btn" type="submit" name="reopen" tabindex="3">
                  {{ _('Re-open') }}
                </button>
                {% endif %}
              {% endif %}
              <button class="btn btn-success" type="submit" name="save"
                tabindex="2">
                {{ _('Comment') }}
              </button>
            </div>
            {% endblock %}
          </form>
          {% else %}
          <div class="not-logged-in">
            <a href="{{h.url_for('login')}}" class="btn">{{ _('Login to comment') }}</a>
          </div>
          {% endif %}
        </div>
      </div>
  </section>
{% endblock %}

