/* Issue section of package pages */
span#issue-count { display: block; }
#issue-error {
    margin-top: 1em;
    margin-bottom: 1em;
    color: #b00;
}
#issue-list { margin-top: 1em; }
#issue-add {
    display: none;
    margin-top: 1em;
}
#issue-add label {
    float: left;
    width: 20%;
}
#issue-add input, textarea {
    width: 79.5%;
    padding: 0;
    margin: 0;
}
#issue-add-button { margin-left: 20%; }
#issue-add textarea { height: 100px; }
#issue-add div { margin-bottom: 0.75em; }
.issue-item td {
    background-color: #fff;
    border: none;
}
td.issue-list-title {
    width: 150px;
}

/* Autocomplete */
#category-autocomplete-suggestions {
    margin-left: 20%
}
.categories.small a {
    padding-right: 6px;
}
.categories a.active {
    background: #2B69C6;
    color: #fff;
    text-decoration: none;
    padding: 0.2em;
    margin: 0 0.2em;
}

/* Issue page */
#issue-page ul {
    list-style-type: none;
    margin-left: 0;
}

#issue-categories { padding-top: 1em; }

.issue-category {
    padding-top: 1em;
    border-top: 1px solid #ECECEC;
}
.issue-category li { margin-bottom: 1em; }
