
{% trans %}On open data portal{% endtrans %} {{ site_title }} {% trans %} a user has raised an issue with one of the datasets from organization{% endtrans %} '{{ recipient.organization_title }}', {% trans %}for which you are an{% endtrans %} {{ recipient.capacity }}.

{% trans %}The dataset is: {% endtrans %}{{ dataset.title }}

{% trans %}The issue is:{% endtrans %}

> {{ issue_subject|wordwrap(width=76)|replace('\n', '\n> '|safe) }}
> {{ issue.description|wordwrap(width=76)|replace('\n', '\n> '|safe) }}

{% trans %}Please correct the problem or add an initial comment about the issue at: {% endtrans %}{{ h.url_for('issues_show', dataset_id=dataset.name, issue_number=issue.number, qualified=True) }}. {% trans %}Once the issue has been resolved, click 'Close issue'.{% endtrans %}

{% trans %}Thank you,{% endtrans %}

{% trans %}The{% endtrans %} {{ site_title }} {% trans %}team{% endtrans %}

--

{% trans %}Message sent by{% endtrans %} {{ site_title }} ({{ site_url }})

