
{% trans %}A user {{ user.fullname }} has added a comment to one of your issues on {{ site_title }}.{% endtrans %}

{% trans %}The dataset is{% endtrans %}: {{ dataset.title }}
{% trans %}The issue is{% endtrans %}: {{ issue_subject }}
{% trans %}The comment is{% endtrans %}:
> {{ comment.comment|wordwrap(width=76)|replace('\n', '\n> '|safe) }}

{% trans %}In order to respond to the comment, please see the issue at{% endtrans %}: {{ h.url_for('issues_show', dataset_id=dataset.name, issue_number=issue.number, qualified=True) }}. {% trans %}Once the issue has been resolved, click 'Close issue'.{% endtrans %}

{% trans %}Thank you{% endtrans %}

{% trans %}The {{ site_title }} team{% endtrans %}

--

{% trans %}Issue{% endtrans %}: {{ h.url_for('issues_show', dataset_id=dataset.name, issue_number=issue.number, qualified=True) }}
{% trans %}Dataset{% endtrans %}: {{ h.url_for('dataset_read', id=dataset.name, qualified=True) }}

