/* Todo section of package pages */
span#todo-count { display: block; }
#todo-error { 
    margin-top: 1em;
    margin-bottom: 1em;
    color: #b00; 
}
#todo-list { margin-top: 1em; }
#todo-add { 
    display: none;
    margin-top: 1em;
}
#todo-add label {
    float: left;
    width: 20%;
}
#todo-add input, textarea {
    width: 79.5%;
    padding: 0;
    margin: 0;
}
#todo-add textarea { height: 100px; }
#todo-add a { margin-left: 20%; }
#todo-add div { margin-bottom: 0.75em; }
.todo-item td {
    background-color: #fff;
    border: none;
}
td.todo-list-title {
    width: 150px;
}

/* Todo page */
#todo-page ul {
    list-style-type: none;
    margin-left: 0;
}

#todo-categories { padding-top: 1em; }

.todo-category {
    padding-top: 1em;
    border-top: 1px solid #ECECEC;
}
