span#todo-count { display: block; }
#todo-error { color: #b00; }
#todo-list { margin-top: 1em; }
#todo-add { 
    display: none;
    margin-top: 1em;
}
#todo-add label {
    float: left;
    width: 120px;
}
#todo-add input, textarea {
    width: 400px;
    padding: 0;
    margin: 0;
}
#todo-add textarea { height: 100px; }
#todo-add div { margin-bottom: 0.75em; }
#todo-add a { margin-left: 120px; }
.todo-item td {
    background-color: #fff;
    border: none;
}
td.todo-list-title {
    width: 150px;
}
