/*****************************************
  Issue Show
  ****************************************/ 

.issue-header {
  margin-bottom: 35px;
}

h1.page-heading .issues-actions .btn {
  font-size: 15px;
}

.issue-header h1.page-heading {
  word-wrap: break-word;
  margin-bottom: 0;
}

.issue-header .header-number {
  color: #aaa;
}

.issue-header-meta {
  margin-top: 9px;
  font-size: 100%;
  line-height: 28px;
  color: #777;
  padding-bottom: 20px;
  border-bottom: 1px solid #2d5ca6;
}

.issue-header-status {
  padding: 6px 8px;
  margin-right: 10px;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  color: #fff;
  border-radius: 3px;
}

.issue-header-status.open {
  background-color: #449d44;
}

.issue-header-status.closed {
  background-color: #c9302c;
}

.issue-comment-wrapper {
  position: relative;
  padding-left: 64px;
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #d5deed;
}

.issue-comment-wrapper:last-of-type {
  border-bottom: none;
}

.issue-comment {
  position: relative;
}

.issue-comment-avatar {
  float: left;
  margin-left: -64px;
  border-radius: 4px;
}

.issue-comment-header {

}

.issue-comment-header .author {
  color: #2d5ca6;
}

.issue-comment-header .issue-comment-actions .issue-comment-action {
  float: right;
}

.issue-comment-header .subtle-btn {
  padding: 10px 5px;
  color: #999;
}
.issue-comment-header a.subtle-btn:hover {
  color: #009F00;
  text-decoration: none;
}
.issue-comment-header .subtle-btn-abuse:hover {
  color: #DD0000;
}
.issue-comment-header .subtle-btn-abuse-active {
  color: #DD0000;
}
.issue-comment-header .subtle-btn-abuse:hover {
  color: #FF0000;
  text-decoration: none;
}
.issue-comment-header .subtle-btn-abuse-active:hover {
  color: #999;
  text-decoration: none;
}

.issue-comment-action {
  padding-left: 5px;
  margin-top: -2px;
}

.issue-header-text {
  max-width: 78%;
  margin-bottom: 10px;
  color: #818181;
}

.issue-comment-content {
  font-size: 100%;
}

.issue-comment-new {
  background-color: #fff;
}

.issue-comment-new textarea {
  margin-bottom: 0;
}

.issue-comment-new .form-actions {
  margin: 0;
  padding: 0;
}

.issue-comment-label {
  display: inline-block;
  padding: 2px 7px;
  font-size: 12px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.list-group-item .issue-comment-label {
  margin-top: 5px;
}

.issue-comment-wrapper .issue-comment-label {
  float: right;
}

.issue-abuse {
  color: #b0b0b0;
}

.issue-comment-footer {
  margin-top: 10px;
  font-size: 80%;
}

.issue-comment-footer .issue-comment-action {
  margin-bottom: 5px;
  margin-top: 0px;
  padding-left: 0px;
  display: inline-block;
}

.issue-comment-footer .issue-comment-action .link-button {
  border: none;
  padding: 0px;
  margin-right: 10px;
  color: #2d5ca6;
}

.issue-comment-footer .issue-comment-action .link-button:hover {
  color: #23527c;
}

.issue-comment-footer .issue-comment-label {
  margin-bottom: 5px;
  float: none;
}

/*****************************************
  Issue homes - dataset, organization, all
  ****************************************/

.issues-home .header .page-heading h1 {
  float: left;
}

.issues-home .header .issues-actions {
  float: right;
}

.list-group {
  margin-left: 0;
}

.list-group-header {
  position: relative;
  display: block;
  z-index: 22;
  margin-top: 20px;
  margin-bottom: -1px;
  background-color: #F8F8F8;
  border: 1px solid #E5E5E5;
  border-radius: 3px 3px 0px 0px;
}

.list-group-header a {
  margin-top: 20px;
  margin-bottom: -1px;
}

.list-group-item {
  position: relative;
  display: block;
  margin-bottom: 25px;
  padding: 0px 10px 20px 35px;
  border: none;
  border-bottom: 1px solid #d5deed;
}

.list-group-item-name {
  margin: 0 60px 0 0;
  font-size: 120%;
  line-height: 1.3;
  margin-bottom: 2px;
  word-wrap: break-word;
  letter-spacing: 0px;
}

.list-group-item-meta {
  font-size: 90%;
  line-height: 17px;
  list-style-type: none;
  overflow: hidden;
  color: #999999;
  margin: 0;
}

.list-group-item .list-group-item-name a, .list-group-item .list-group-item-meta a {
  color: #333;
}

.list-group-item-meta>li {
  display: inline-block;
  margin-right: 10px;
}

.list-group-item-number {
  position: relative;
  top: 2px;
  float: right;
  margin-left: 12px;
  font-size: 13px;
  color: #999;
}

.list-group-item-name .icon {
  float: left;
  margin-top: 1px;
  margin-left: -24px;
  font-size: 16px;
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.list-group-item-name .icon.open {
  color: #449d44;
}

.list-group-item-name .icon.abuse {
  color: #ffa500;
}

.list-group-item-name .icon.closed {
  color: #c9302c;
}

#issue-list {
  margin-top: 25px;
}

/* Sidebar */

.issue-home-sidebar {
  margin: 20px 0 0 15px;
}

.module-content .pagination {
  margin-left: 0px;
  margin-right: -15px;
  margin-bottom: 0px;
}

#ckanext-issues-assign .select2-container {
  min-width: 100%;
  width: 100% !important;
  margin-bottom: 10px;
}

#ckanext-issues-assignee img {
  position: relative;
  top: 1px;
  width: 15px;
  height: 15px;
}
